@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.container {
  height: 60px;
  color: $primaryColor;
  text-align: center;
  margin-bottom: -60px;

  @include breakpoint(tablet) {
    margin-bottom: 0;
  }

  @include breakpoint(phone) {
    height: 50px;
    margin-bottom: -50px;
  }

  &__prev_next_pokemon_btn {
    cursor: pointer;

    p {
      color: $primaryColor;
      font-size: 20px;
      font-weight: 500;
      text-transform: capitalize;

      @include breakpoint(phone) {
        display: none;
      }
    }
  }
  &__right_arrow {
    fill: $primaryColor;
    transform: scale(0.5);
    margin-right: -5px;

    @include breakpoint(phone) {
      transform: none;
      margin: 0px;
    }
  }

  &__left_arrow {
    fill: $primaryColor;
    transform: scale(0.5) rotate(180deg);
    margin-left: -5px;

    @include breakpoint(phone) {
      transform: rotate(180deg);
      margin: 0px;
    }
  }

  &__prev_next_pokemon_btn:hover p {
    text-decoration: underline;

    @include breakpoint(tablet-large) {
      text-decoration: none;
    }
  }
}
