@import "styles/variables.scss";

.container {
  &__title {
    text-align: center;
    font-size: 64px;
    color: $primaryColor;
    user-select: none;
  }

  &__error_message {
    color: $primaryColor;
    text-align: center;
    margin-top: 24px;
  }
}
